{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Website Casa Capello Den Haag The Hague Reserveren Reserve</title>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}      
<!--### fading-css-hero ###-->
<div id="fading-css-hero">
    <div class="crossfade">
        <figure></figure>
        <figure></figure>
        <figure></figure>
        <figure></figure>
        <figure></figure>
        <div class="px2 py4 white center">
            <a href="{% url 'about' %}"><img class="mainlogo" src="{{ MEDIA_URL }} media/logo-w.png"
                    alt="logo casa capello"></a><br>
            {% for h in home %}
            <h1 class="title">{{ h.title }}</h1><br>
            {% endfor %}
        </div>
        <div class="mt4 center">
            <a class="button" href="{% url 'reserve' %}">Reserve Now</a>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
<script type="text/javascript">
     $(function() {
        $('#post').click(function() {
            alert("test"); 
        });
    });
    $( "#page-container" ).css( "background-color", "rgba(0, 0, 0, 0.6)" );
</script>
{% endblock %}

