{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
{% endblock %}

{% block content %}
{% for item in bannerimage %}
<img class="bannerimage" src="{{MEDIA}} /media/{{ item.image }}" alt="image of  by Casa Capello Restaurant Den Haag">
{% endfor %}
{% if full %}
  {% for f in full %}
    <p hidden>{{ f }}</p>
  {% endfor %}
{% endif %}
<div class="container">
    <h1 class="center padding25 header">Reserveren</h1> 
      <div class="row padding25"> 
        <div class="col-6 placement-block">
          <div class="dropup" id="available">
            <button class="dropdown-toggle edit time" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Kies een tijd
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" id="18.00" onclick="getTime(this.id)">18:00 uur</a></li>
              <li><a class="dropdown-item" id="19.00" onclick="getTime(this.id)">19:00 uur</a></li>
              <li><a class="dropdown-item" id="20.00" onclick="getTime(this.id)">20:00 uur</a></li>
            </ul>
            <div class="padding25">
               <h3>Datum: <span id="ViewDate" class="bold"></span></h3>
            <h3>Tijd: <span id="ViewTime" class="bold"></span></h3>
            </div>
           
          </div>
          <div id="full" class="hidden">
            <p>Onze excuses, maar de door U geselecteerde datum is vol voor online reserveringen. Bel ons over de mogelijkheden op <a href="tel:+31702250303"><i class="fa-solid fa-phone"></i> 070-2250303</a></p>
          </div>
        </div>      
        <div class="col-6">
          <div class="input-group" id="datepicker">
              <input hidden type="text" class="form-control" id="date" onchange="getDate()">
        </div>
        </div>
          

    </div>
        {{ form.media }}
        {% csrf_token %}
        {{ form | crispy }}

    </div>
  
   <script>

var tdate = new Date();
var day = 60 * 60 * 24 * 1000;
var twoWeeks = 60 * 60 * 336 * 1000;
var startDate = new Date(tdate.getTime() + day);
var endDate = new Date(tdate.getTime() + twoWeeks);

$('#datepicker').datepicker('setDaysOfWeekDisabled', [0,1]).datepicker('setStartDate', startDate).datepicker('setEndDate', endDate).datepicker({'language' : 'nl'});
var buttonValue = document.getElementsByClassName('time').value;
console.log(buttonValue);

function getDate(){
  var buttonValue = document.getElementById('date').value;
  document.getElementById("ViewDate").textContent= buttonValue;
  console.log(buttonValue);
}

function getTime(clicked_id){
  var buttonValue = clicked_id + " uur";
  document.getElementById("ViewTime").textContent= buttonValue;
  console.log(buttonValue);
}

function dateDutch() {
  var month = document.getElementsByClassName('datepicker-switch').value.split('');
  console.log(month);
  if (month[0] == 'April')
      var monthNl = 'Hellow';
  document.getElementsByClassName('datepicker-switch').value = monthNl + month[1];
}
   </script> 
  </body>
</html>
{% endblock %}